<appSettings>
  <add key="AvoidCheck2" value="true"/>

  <add key="databasename" value="NYSDB"/>
  <add key="ConnectionString" value="server=TESTSERVER;uid=NysDbUserTest;pwd=nysC0rp0r@T32015;database=nysdb"/>
  <add key="log4netconfig" value="E:\Development\Work\CUBIT\Cubit\Cubit\log4net.config"/>
  <add key="Version" value="V3.0.1"/>
  <add key="Encrypt" value="false"/>
  <add key="Testing" value="false"/>
  <add key="NamesToAvoid" value="hotel;house;inn"/>
  <add key="BossFilesToImport" value="\\NYSHOST3\Mevis\BossInv\Error\"/>
  <add key="BossFilesToImportDir" value="BOSS_FILES_IMPORT\"/>
  <add key="BossFilesToImportOK" value="E:\Development\Work\CUBIT\Cubit\Cubit\BOSS_FILES_IMPORT\Imported\"/>
  <add key="BossFilesToImportError" value="E:\Development\Work\CUBIT\Cubit\Cubit\BOSS_FILES_IMPORT\Error\"/>

  <add key="BossFilesExportDir" value="E:\Development\Work\CUBIT\Cubit\Cubit\BOSS_EXPORT_FILES\"/>
  <add key="downloadedfiles" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfiles\"/>
  <add key="uploadedfiles" value="E:\Development\Work\CUBIT\Cubit\Cubit\uploadedfiles\"/>
  <add key="downloadedfilesERROR" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfiles\ErrorReports\"/>
  <add key="downloadedfilesOK" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfiles\Archive\"/>
  <add key="downloadedfilesDuplicates" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfiles\Duplicates\"/>
  <add key="ConfermaFileLocation" value="https://ssl.conferma.com/confermaReports/auto/NYS-igF6vk/"/>
  <add key="VATRate" value="20"/>
  <add key="AnchorBossCode" value="ANCHOR"/>
  <add key="VATCalcRate" value="1.2"/>
  <add key="CPBackgroundColour" value=""/>
  <add key="downloadedfilesBooked" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfilesBooked\"/>
  <add key="downloadedfilesBookedERROR" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfilesBooked\ErrorReports\"/>
  <add key="downloadedfilesBookedOK" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfilesBooked\Archive\"/>
  <add key="downloadedfilesBookedDuplicates" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfilesBooked\Duplicates\"/>
  <add key="downloadedfilesTrans" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfilesTrans\"/>
  <add key="downloadedfilesTransERROR" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfilesTrans\ErrorReports\"/>
  <add key="downloadedfilesTransOK" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfilesTrans\Archive\"/>
  <add key="VenueEmail" value="systems.maintenance@nysgroup.com"/>
  <add key="DBType" value="2"/>
  <!--0=dev db, 1=test db, 2=live db-->
  <add key="BCCEmail" value="development@nysgroup.com"/>
  <add key="EmailFrom" value="conferma@nysgroup.com"/>
  <add key="EmailTest" value=""/>
  <add key="EmailTestSendTo" value=""/>
  <add key="InitialDays" value="14"/>
  <add key="RepeatDays" value="7"/>
  <add key="LVTravellerCheckLive" value="true"/>
  <add key="IBISCommission" value="1.78"/>
  <add key="EACTReplacements" value="KIR,LAM,LEE,COM,BUS,DGO,EDU,FIN,HR,ICT,LEG,OFF,OPS"/>
  <add key="BOSSTablesPath" value="\\nys-boss2015\BOSS\32bitboss\Data\Invmain.dbf"/>
  <add key="HomeGroupBoss" value="stonham"/>
  <add key="HomeGroupBossCode1" value="HOME"/>
  <add key="HomeGroupBossCode2" value="HOMESTONE"/>
  <add key="GetAll" value="TRUE"/>
  <add key="LateRoomsFee" value="0"/>
  <add key="ExpediaFee" value="0"/>
</appSettings>

