<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings file="user.config">
    <add key="databasename" value="NYSDB"/>
    <add key="log4netconfig" value="E:\Development\Work\CUBIT\Cubit\Cubit\log4net.config"/>
    <add key="Encrypt" value=""/>
    <add key="Testing" value="true"/>
    <add key="NamesToAvoid" value="hotel;house;inn"/>
    <add key="Version" value="V 2.10"/>
    <add key="BossFilesToImport" value="E:\Development\Work\CUBIT\Cubit\Cubit\BOSS_FILES_IMPORT\"/>
    <add key="BossFilesToImportDir" value="BOSS_FILES_IMPORT"/>
    <add key="BossFilesToImportOK" value="E:\Development\Work\CUBIT\Cubit\Cubit\BOSS_FILES_IMPORT\Imported\"/>
    <add key="BossFilesToImportError" value="E:\Development\Work\CUBIT\Cubit\Cubit\BOSS_FILES_IMPORT\Error\"/>
    <add key="BossFilesExportDir" value="CUBIT\BOSS_FILES_EXPORT"/>
    <add key="downloadedfiles" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfiles\"/>
    <add key="uploadedfiles" value="E:\Development\Work\CUBIT\Cubit\Cubit\uploadedfiles\"/>
    <add key="downloadedfilesERROR" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfiles\ErrorReports\"/>
    <add key="downloadedfilesOK" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfiles\Archive\"/>
    <add key="downloadedfilesDuplicates" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfiles\Duplicates\"/>
    <add key="ConfermaFileLocation" value="https://ssl.conferma.com/confermaReports/auto/NYS-igF6vk/"/>
    <add key="VATRate" value="20"/>
    <add key="AnchorBossCode" value="ANCHOR"/>
    <add key="VATCalcRate" value="1.2"/>
    <add key="CPBackgroundColour" value="lightblue"/>
    <add key="downloadedfilesBooked" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfilesBooked\"/>
    <add key="downloadedfilesBookedERROR" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfilesBooked\ErrorReports\"/>
    <add key="downloadedfilesBookedOK" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfilesBooked\Archive\"/>
    <add key="downloadedfilesBookedDuplicates" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfilesBooked\Duplicates\"/>
    <add key="downloadedfilesTrans" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfilesTrans\"/>
    <add key="downloadedfilesTransERROR" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfilesTrans\ErrorReports\"/>
    <add key="downloadedfilesTransOK" value="E:\Development\Work\CUBIT\Cubit\Cubit\downloadedfilesTrans\Archive\"/>
    <add key="VenueEmail" value="nick.massarella@nysgroup.com"/>
    <add key="DBType" value="2"/>
    <!--0=dev db, 1=test db, 2=live db, 3=demo-->
    <add key="EmailTest" value=""/>
    <add key="EmailTestSendTo" value=""/>
    <add key="InitialDays" value="14"/>
    <add key="RepeatDays" value="7"/>
    <add key="EmailFrom" value="conferma@nysgroup.com"/>
    <add key="IBISCommission" value="1.78"/>
    <add key="EACTReplacements" value="KIR,LAM,LEE,COM,BUS,DGO,EDU,FIN,HR,ICT,LEG,OFF,OPS"/>
    <add key="BOSSTablesPath" value="\\nys-boss\boss\winboss\data\Invmain.dbf"/>
    <add key="HomeGroupBoss" value="stonham"/>
    <add key="HomeGroupBossCode1" value="HOME"/>
    <add key="HomeGroupBossCode2" value="HOMESTONE"/>
    <add key="GetAll" value="TRUE"/>
    <add key="LateRoomsFee" value="0"/>
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  <connectionStrings>
    <!--Test-->
    <!--<add name="SqlServerConnStr" connectionString="server=nystest2012;Initial Catalog=CUBIT_TEST;User ID=cubit;Password=H@ndym@n" providerName="System.Data.SqlClient" />
    <add name="SqlServerMevisConnStr" connectionString="server=nystest2012;Initial Catalog=NYSDB_TEST;User ID=cubit;Password=H@ndym@n" providerName="System.Data.SqlClient" />-->
    <!--live-->
    <!--<add name="SqlServerConnStr" connectionString="server=nys-sql2012\nys;Initial Catalog=CUBIT;User ID=Cubit;Password=H@ndym@n" providerName="System.Data.SqlClient"/>
    <add name="SqlServerMevisConnStr" connectionString="server=nys-sql2012\nys;Initial Catalog=NYSDB;User ID=Cubit;Password=H@ndym@n" providerName="System.Data.SqlClient"/>
    <add name="CUBITFeedImportDataEntities" connectionString="metadata=res://*/Cubit-FeedImportData-Model.csdl|res://*/Cubit-FeedImportData-Model.ssdl|res://*/Cubit-FeedImportData-Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nys-sql2012\nys;initial catalog=Cubit;persist security info=True;user id=Mevis;password=R@ptur3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->

    <add name="SqlServerConnStr" connectionString="server=TESTSERVER;Initial Catalog=CUBIT;User ID=NysDbUserTest;Password=nysC0rp0r@T32015" providerName="System.Data.SqlClient" />
    <add name="SqlServerMevisConnStr" connectionString="server=TESTSERVER;Initial Catalog=NYSDB;User ID=NysDbUserTest;Password=nysC0rp0r@T32015" providerName="System.Data.SqlClient" />
    <add name="CUBITFeedImportDataEntities" connectionString="metadata=res://*/Cubit-FeedImportData-Model.csdl|res://*/Cubit-FeedImportData-Model.ssdl|res://*/Cubit-FeedImportData-Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TESTSERVER;initial catalog=Cubit;persist security info=True;user id=NysDbUserTest;password=nysC0rp0r@T32015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <!--<add name="CUBITFeedImportDataEntities1" connectionString="metadata=res://*/Cubit-FeedImportData-Model.csdl|res://*/Cubit-FeedImportData-Model.ssdl|res://*/Cubit-FeedImportData-Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NYSTEST2012;initial catalog=CUBIT_TEST;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CUBITFeedImportDataEntities" connectionString="metadata=res://*/Cubit-FeedImportData-Model.csdl|res://*/Cubit-FeedImportData-Model.ssdl|res://*/Cubit-FeedImportData-Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NYSTEST2012;initial catalog=CUBIT_TEST;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <!--Test-->
  <!--<add name="SqlServerConnStr" connectionString="server=nystest;Initial Catalog=CUBIT_TEST;User ID=sa;Password=Evosnozz123" providerName="System.Data.SqlClient"/>
  <add name="SqlServerMevisConnStr" connectionString="server=nystest;Initial Catalog=NYSDB_TEST;User ID=sa;Password=Evosnozz123" providerName="System.Data.SqlClient"/>-->
  <!--<add name="SqlServerConnStr" connectionString="server=nys2012\sqlexpress8;Initial Catalog=CUBIT_DEV;User ID=sa;Password=Evosnozz123" providerName="System.Data.SqlClient"/>
  <add name="SqlServerMevisConnStr" connectionString="server=nys2012\sqlexpress8;Initial Catalog=NYSDB_DEV;User ID=sa;Password=Evosnozz123" providerName="System.Data.SqlClient"/>-->
  <system.web>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.net>
    <mailSettings>
      <!-- these settings define the mail server settings
        from: the user name from which the email is sent - this is the
        application that is sending the message
        host: the name of your mail server
        userName: the name the application will use to log into the mail server
        password: the password for the above user name      -->
      <smtp>
        <network host="nysmsg" userName="" password=""/>
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>