<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="BossService" />
    </sharedListeners>
  </system.diagnostics>
  <system.net>
    <mailSettings>
      <!-- these settings define the mail server settings
        from: the user name from which the email is sent - this is the
        application that is sending the message
        host: the name of your mail server
        userName: the name the application will use to log into the mail server
        password: the password for the above user name      
		-->
      <smtp>
        <network host="nysmsg" userName="" password="" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <add key="ConnectionString" value="server=nysdb;uid=sa;pwd=Evosnozz123;database=NYSDB" />
    <add key="log4netconfig" value="C:\DEV FOLDER\Development10\VS10\NYS_APPS10\BOSS_APP\BossService\BossService\log4net.config" />
    <add key="dailyCustomerTime" value="20:00" />
    <add key="dailyCityCodeTime" value="20:15" />
    <add key="dailyProductTime" value="20:30" />
    <add key="dailyProtypeTime" value="20:45" />
    <add key="dailySupplierTime" value="21:00" />
    <add key="dailyRegionTime" value="21:15" />
    <add key="dailySaveCodeTime" value="21:30" />
    <add key="dailyEveningTime" value="22:00" />
    <add key="dailyEveningCashTime" value="23:00" />
    <add key="dailyCashhdrTime" value="19:30" />
    <add key="totRecvdTime" value="23:30" />
    <add key="mainCommTime" value="00:00" />
    <add key="paydetTime" value="01:00" />
    <add key="monthlyTime" value="09:00" />
    <add key="paydetYearTime" value="11:00" />
    <add key="Version" value="V 1.0" />
    <add key="PollSecondsInterval" value="300" />
    <add key="BOSSConnectionString" value="Provider=VFPOLEDB;Data Source=\\nysdb\boss\winboss\data;Mode=Read;CollatingSequence=MACHINE;"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="doHourlyIntervalMinutes" value="60" />
    <add key="TotRecvdStartYear" value="2010" />
    <add key="TotRecvdEndYear" value="2012" />
  </appSettings>
  <connectionStrings>
    <add name="SqlServerConnStr" connectionString="server=nysdb;Initial Catalog=NYSDB;User ID=sa;Password=Evosnozz123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>