 <appSettings>
  <add key="ConnectionString" value="server=nys-sql2012\nys;uid=MailService;pwd=B1gd@ddy;database=NYSDB" />
   <add key="ConnectionStringCubit" value="server=nys-sql2012\nys;uid=MailService;pwd=B1gd@ddy;database=CUBIT" />
   <add key="ConnectionStringGIDS" value="server=nys-sql2012\nys;uid=MailService;pwd=B1gd@ddy;database=GIDS" />
   <add key="ConnectionStringSSO" value="server=nys-sql2012\nys;uid=MailService;pwd=B1gd@ddy;database=SSO" />
   <add key="ConnectionStringDemo" value="server=nys-sql2012\nys;uid=MailService;pwd=B1gd@ddy;database=NYSDB"/>
   <add key="BOSSConnectionString" value="Provider=VFPOLEDB;Data Source=\\nys-boss\boss\32bitboss\data;Mode=Read;CollatingSequence=MACHINE;"/>
   <add key="PollSecondsInterval" value="10"/>
   <add key="HomeAbsolutepath" value="\\NYSMevis\"/>
   <add key="HomePath" value="mevis"/>
   <add key="ArchiveDirectory" value="\\NYSSRV1\Archive - NOT BACKED UP\"/>
   <add key="EmailServerName" value="nys-ex1"/>
   <add key="EmailUserName" value="mevis"/>
   <add key="EmailPassword" value="P@ssword101"/>
   <add key="log4netconfig" value="C:\inetpub\wwwroot\NYSService\log4net.config" />
   <add key="BackupFtpHost" value=""/>
   <add key="BackupFtpFolder" value=""/>
   <add key="BackupFtpUsername" value=""/>
   <add key="BackupFtpPassword" value=""/>
   <add key="EnquiryPopServer" value="nysmsg"/>
   <add key="EnquiryPopUsername" value="mevis"/>
   <add key="EnquiryPopPassword" value="P@ssword101"/>
   <add key="EnquiryVarFolder" value="C:\inetpub\wwwroot\NYSService\enquiryvar"/>
   <add key="LocalBackUpDirectory" value="K:\Mevis backups - current week\Mevis\" />
   <add key="FeedbackPopServer" value="nysmsg"/>
   <add key="FeedbackPopUsername" value="Mevistwo"/>
   <add key="FeedbackPopPassword" value="P@ssword101"/>
   <add key="FeedbackVarFolder" value="C:\inetpub\wwwroot\NYSService\feedbackvar"/>
   <add key="NYSDBBackupTime" value="02:15" />
   <add key="CUBITBackupTime" value="01:00" />
   <add key="GIDSBackupTime" value="01:30" />
   <add key="SSOBackupTime" value="01:45" />
   <add key="ArchiveTime" value="06:00" />
   <add key="CubitTime" value="07:30"/>
   <add key="CubitFinishTime" value="08:00"/>
   <add key="CubitAfternoonTime" value="16:30"/>
   <add key="TriggerTime" value="07:15"/>
   <add key="SendEmailMinutesInterval" value="5"/>
   <add key="checkEvolviMinutesInterval" value="15"/>
   <add key="EvolviHandoffs" value="\\nys-filestore\EvolviHandoffs\intercept\SQL\"/>
   <add key="EvolviDay" value=""/>
   <add key="DownloadEmailMinutesInterval" value="5"/>
   <add key="BackupFilesCSV" value="" />
   <add key="BackupFilesRoot" value="K:\Mevis backups - current week\"/>
   <add key="BackupFileNamesPrefixMevis" value="K:\Mevis backups - current week\Mevis" />
   <add key="BackupFileNamesPrefixGIDS" value="K:\Mevis backups - current week\GIDS" />
   <add key="BackupFileNamesPrefixCubit" value="K:\Mevis backups - current week\Cubit" />
   <add key="BackupFileNamesPrefixSSO" value="K:\Mevis backups - current week\SSO" />
   <add key="NYSWebAppRoot" value="C:\inetpub\wwwroot\Mevis" />
   <add key="FeedbackBCCEmailAddress" value="conference3@nysgroup.com"/>
   <add key="TriggerBCCEmailAddress" value="conference3@nysgroup.com"/>
   <add key="ErrorEmailAddress" value ="conference3@nysgroup.com" />
   <add key="feedbackURLPrefix" value ="https://tools.nyscorporate.com/webforms/forms/feedback.aspx?" />
   <add key="UseLiveVenues" value="" />
   <add key="EmailTempFolder" value="\\NYSMevis\userdocs\NYS\TheEmailTemporaryDirectory"/>
   <add key="RequirementsFolder" value="\\NYSMevis\userdocs\NYS\RequirementsPrint"/>
   <add key="downloadedfiles" value="\\nys-accounts\downloadedfiles\"/>
   <add key="downloadedfilesERROR" value="\\nys-accounts\downloadedfiles\ErrorReports\"/>
   <add key="downloadedfilesOK" value="\\nys-accounts\downloadedfiles\Archive\"/>
   <add key="downloadedfilesDuplicates" value="\\nys-accounts\downloadedfiles\Duplicates\"/>
   <add key="downloadedfilesBooked" value="\\nys-accounts\downloadedfilesBooked\"/>
   <add key="downloadedfilesBookedERROR" value="\\nys-accounts\downloadedfilesBooked\ErrorReports\"/>
   <add key="downloadedfilesBookedOK" value="\\nys-accounts\downloadedfilesBooked\Archive\"/>
   <add key="downloadedfilesBookedDuplicates" value="\\nys-accounts\downloadedfilesBooked\Duplicates\"/>
   <add key="downloadedfilesTrans" value="\\nys-accounts\downloadedfilesTrans\"/>
   <add key="downloadedfilesTransERROR" value="\\nys-accounts\downloadedfilesTrans\ErrorReports\"/>
   <add key="downloadedfilesTransOK" value="\\nys-accounts\downloadedfilesTrans\Archive\"/>
   <add key="downloadedfilesBookedAft" value="\\nys-accounts\downloadedfilesBookedAfternoon\"/>
   <add key="downloadedfilesBookedAftERROR" value="\\nys-accounts\downloadedfilesBookedAfternoon\ErrorReports\"/>
   <add key="downloadedfilesBookedAftOK" value="\\nys-accounts\downloadedfilesBookedAfternoon\Archive\"/>
   <add key="downloadedfilesBookedAftDuplicates" value="\\nys-accounts\downloadedfilesBookedAfternoon\Duplicates\"/>
   <add key="Conferma1" value="DevTeam@nysgroup.com"/>
   <add key="Conferma2" value="DevTeam@nysgroup.com"/>
   <add key="Conferma3" value="DevTeam@nysgroup.com"/>
   <add key="ConfermaFileLocation" value="https://ssl.conferma.com/confermaReports/auto/NYS-igF6vk/"/>
   <add key="databasename" value="NYSDB"/>
   <add key="Testing" value=""/>
   <add key="ReleaseEmailTest" value=""/>
   <add key="ReleaseEmailTestSend" value=""/>
   <add key="ETP" value="ON" />
   <add key="EvolviProcessInput" value="\\nys-filestore\evolvihandoffs\awaiting\" />
   <add key="EvolviProcessBossOutput" value="\\nys-filestore\evolvihandoffs\intercept\" />
   <add key="EvolviProcessSqlOutput" value="\\nys-filestore\evolvihandoffs\intercept\SQL\" />
   <add key="checkEvolviProcessSecondsInterval" value="1"/>
   <add key="HideFeedback" value="100235|100230"/>
   <add key="InvoiceInput" value="\\nys-boss\BOSS\32bitboss\PDFfiles\"/>
   <add key="InvoiceNotSent" value="\\nys-boss\BOSS\32bitboss\PDFfiles\###\notsent\"/>
   <add key="InvoiceSent" value="\\nys-boss\BOSS\32bitboss\PDFfiles\###\sent\"/>
   <add key="InvoiceError" value="\\nys-boss\BOSS\32bitboss\PDFfiles\###\error\"/>
   <add key="InvoiceAwaiting" value="\\nys-boss\BOSS\32bitboss\PDFfiles\awaiting\" />
   <add key="FeraProcurementEmail" value="lisa.spencer@fera.gsi.gov.uk"/>
   <add key="AutoInvoiceEmailFrom" value="rail@nysgroup.com"/>
   <add key="InitialDays" value="14"/>
   <add key="RepeatDays" value="14"/>
   <add key="CubitDocsPath" value="\\nys-accounts\docs\"/>
   <add key="CubitInvoiceTime" value="07:30"/>
   <add key="CorpFeedbackTime" value="06:30"/>
   <add key="checkAutoInvoiceMinutesInterval" value="15"/>
   <add key="checkAutoInvoiceAwaitingMinutesInterval" value="240"/>
   <add key="ExRatesRSSTime" value="05:00"/>
   <add key="ExRatesRSSURL" value="http://themoneyconverter.com/rss-feed/GBP/rss.xml"/>
   <add key="cubitInvoiceDisabled" value="False"/>
   <add key="CorporateFeedbackEmail" value="corporatefeedback@nysgroup.com"/>
   <add key="CorporateFeedbackURL" value="https://tools.nyscorporate.com/webforms/forms/CorporateFeedback.aspx"/>
   <add key="CorporateFeedbackTesting" value=""/>
   <add key="CorporateFeedbackTestingEmail" value="conference7@nysgroup.com"/>
   <add key="RefundChargeReplacement" value="5.01"/>
   <add key="RefundExternalRefReplacement" value="NYSRR"/>
   <add key="InvoiceCheckTime" value="06:00"/>
   <add key="PdfFilesInput" value="\\nys-boss\BOSS\pdffiles\###\" />
   <add key="PdfFilesNotSent" value="\\nys-boss\BOSS\pdffiles\###\notsent\" />
   <add key="PdfFilesSent" value="\\nys-boss\BOSS\pdffiles\###\sent\" />
   <add key="PdfFilesError" value="\\nys-boss\BOSS\pdffiles\###\error\" />
   <add key="PdfFilesAwaiting" value="\\nys-boss\BOSS\pdffiles\awaiting\" />
   <add key="FERAInvoiceEmail" value="michael.weeks@nysgroup.com" />
   <add key="RSAInvoiceEmail" value="michael.weeks@nysgroup.com" />
   <add key="BossEmailLog" value="\\nys-boss\BOSS\32BITBOSS\DATA\#bosseml.log" />
   <add key="BossEmailLogTemp" value="\\nys-boss\BOSS\32BITBOSS\DATA\#bosseml.log.old" />
   <add key="BossOldEmailLog" value="\\nys-boss\BOSS\WINBOSS-old-16bit\DATA\#bosseml.old" />
   <add key="BossOldEmailLogTemp" value="C:\dump\NYSService\#bosseml.old" />
   <add key="ETPSubject" value="Urgent request for invoice conference meetings booking" />
   <add key="TCSAdmin" value="5.25"/>
   <add key="BedsPCTAdmin" value="6"/>
   <add key="EvolviGuardianRefundCopies" value="E:\DevelopmentTesting\Evolvi\evolvihandoffs\refundcopies\"/>
   <add key="InterceptorErrorsFolder" value="E:\DevelopmentTesting\Evolvi\evolvihandoffs\errorfiles\"/>
   <add key="InterceptorNonIssueFolder" value="E:\DevelopmentTesting\Evolvi\evolvihandoffs\NonIssueFiles\"/>
   <add key="EvolviGuardianInputFolder" value="E:\DevelopmentTesting\Evolvi\evolvihandoffs\"/>
   <add key="EvolviGuardianOutputFolder" value="E:\DevelopmentTesting\Evolvi\evolvihandoffs\awaiting\"/>
   <add key="StartMovePDFFilesHour" value="13"/>
   <add key="CostCentreSuffixClients" value="NHSBSA;NHSBSAHOST;NHSBSAPRO;NHSBSACOMM"/>
   <add key="CostCentreSuffix" value="11001"/>
   <add key="LVTravellerEmailActive" value="true"/>
   <add key="ClientStatspath" value="\\nys-accounts\InternalAdmin Docs\Client Statements - Auto"/>
   <add key="ClientStatementEmailFrom" value="ann.glenister@nysgroup.com"/>
   <add key="ClientStatementEmailBcc" value="ann.glenister@nysgroup.com"/>
   <add key="ClientStatementEmailTest" value="false"/>
   <add key="ClientStatementFileDateFormat" value="ddMMyyyy"/>
   <add key="ClientStatementDisabled" value="false"/>
   <add key="ArchiveMonthLimit" value="-6"/>
   <add key="SSOSyncMinutesInterval" value="60"/>
   <add key="YDHRPostChargeEmail" value ="Peter.J.Spicer@York.NHS.UK"/>
   <add key="HandoffSchemaVersionReplacement" value=""/>
   <add key="WeeklyLVUserReportTime" value="08:00"/>
   <add key="WeeklyLVUserReportDay" value="2"/><!--1 = Monday, 2 = Tuesday, 3 = Wednesday etc-->
   <add key="UserReportLVOutputName" value="EmployeeExtract.csv"/>
   <add key="UserReportLVSFTPHost" value="192.168.50.1"/>
   <add key="UserReportLVSFTPPort" value="9022"/>
   <add key="UserReportLVUsername" value="LVSFTP"/>
   <add key="UserReportLVPassword" value="Qu@ntum1"/>
   <add key="MonthlyClientStatementDay1" value="1"/>
   <add key="MonthlyClientStatementDay2" value="2"/>
   <add key="MonthlyClientStatementDay3" value="3"/>
   <add key="MonthlyClientStatementDay4" value="4"/>
   <add key="MonthlyClientStatementDay5" value="13"/>
   <add key="MonthlyClientStatementTime" value="10:30"/>
   <add key="ExpediaFee" value="0"/>
   <add key="LateRoomsFee" value="0"/>
   <add key="ICEErrorsFolder" value="\\nys-filestore\EvolviHandoffs\ICE\"/>
   <add key="RailIssueDateFormat" value="dd/MM/yyyy"/>
   <add key="CubitEmailFrom" value="snap@nysgroup.com"/>
   <add key="NYSNonCommClients" value="100040;100076"/>
 </appSettings>