<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.net>
        <mailSettings>
            <smtp>
                <network host="office.nyscorporate.com" password="" userName="" />
            </smtp>
        </mailSettings>
    </system.net>
    <appSettings file="user.config" />
    <system.web>
        <identity impersonate="false" />
        <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    </system.web>
</configuration>
