<appSettings>
	<add key="databasename" value="NYSDB"/> 
	<add key="ConnectionString" value="server=nys-sql2012\nys;uid=Cubit;pwd=H@ndym@n;database=nysdb"/>
	<add key="log4netconfig" value="C:\inetpub\wwwroot\Cubit\log4net_cubit.config"/>  
        <add key="Version" value="V 2.11"/>   
	<add key="Encrypt" value="false"/>
	<add key="Testing" value="false"/>
	<add key="NamesToAvoid" value="hotel;house;inn"/>
	<add key="BossFilesToImport" value="C:\inetpub\wwwroot\mevis\BossInv\Error\"/>
	<add key="BossFilesToImportDir" value="BOSS_FILES_IMPORT\"/>
	<add key="BossFilesToImportOK" value="C:\inetpub\wwwroot\Cubit\BOSS_FILES_IMPORT\Imported\"/>
	<add key="BossFilesToImportError" value="C:\inetpub\wwwroot\Cubit\BOSS_FILES_IMPORT\Error\"/>
	<add key="BossFilesExportDir" value="\\nysmevis\BOSS_EXPORT_FILES\"/>
	<add key="downloadedfiles" value="C:\inetpub\wwwroot\Cubit\downloadedfiles\"/>
	<add key="uploadedfiles" value="C:\inetpub\wwwroot\Cubit\uploadedfiles\"/> 
	<add key="downloadedfilesERROR" value="C:\inetpub\wwwroot\Cubit\downloadedfiles\ErrorReports\"/> 
	<add key="downloadedfilesOK" value="C:\inetpub\wwwroot\Cubit\downloadedfiles\Archive\"/>
	<add key="downloadedfilesDuplicates" value="C:\inetpub\wwwroot\Cubit\downloadedfiles\Duplicates\"/>
	<add key="ConfermaFileLocation" value="https://ssl.conferma.com/confermaReports/auto/NYS-igF6vk/"/>
	<add key="VATRate" value="20"/> 
	<add key="AnchorBossCode" value="ANCHOR"/> 
	<add key="VATCalcRate" value="1.2"/>
	<add key="CPBackgroundColour" value=""/>
	<add key="downloadedfilesBooked" value="C:\inetpub\wwwroot\Cubit\downloadedfilesBooked\"/>
	<add key="downloadedfilesBookedERROR" value="C:\inetpub\wwwroot\Cubit\downloadedfilesBooked\ErrorReports\"/> 
	<add key="downloadedfilesBookedOK" value="C:\inetpub\wwwroot\Cubit\downloadedfilesBooked\Archive\"/>
	<add key="downloadedfilesBookedDuplicates" value="C:\inetpub\wwwroot\Cubit\downloadedfilesBooked\Duplicates\"/> 
        <add key="downloadedfilesTrans" value="C:\inetpub\wwwroot\Cubit\downloadedfilesTrans\"/>
	<add key="downloadedfilesTransERROR" value="C:\inetpub\wwwroot\Cubit\downloadedfilesTrans\ErrorReports\"/> 
	<add key="downloadedfilesTransOK" value="C:\inetpub\wwwroot\Cubit\downloadedfilesTrans\Archive\"/>
	<add key="VenueEmail" value="systems.maintenance@nysgroup.com"/>
	<add key="DBType" value="2"/><!--0=dev db, 1=test db, 2=live db--> 
	<add key="BCCEmail" value="development@nysgroup.com"/> 
    	<add key="EmailFrom" value="conferma@nysgroup.com"/>
        <add key="EmailTest" value=""/>
	<add key="EmailTestSendTo" value=""/>
	<add key="InitialDays" value="14"/>
	<add key="RepeatDays" value="7"/> 
	<add key="LVTravellerCheckLive" value="true"/>
        <add key="IBISCommission" value="1.78"/> 
        <add key="EACTReplacements" value="KIR,LAM,LEE,COM,BUS,DGO,EDU,FIN,HR,ICT,LEG,OFF,OPS"/>
        <add key="BOSSTablesPath" value="\\nys-boss\boss\32bitboss\data\Invmain.dbf"/>
        <add key="HomeGroupBoss" value="stonham"/>
        <add key="HomeGroupBossCode1" value="HOME"/>
        <add key="HomeGroupBossCode2" value="HOMESTONE"/>
        <add key="GetAll" value="TRUE"/>
        <add key="LateRoomsFee" value="0"/>
        <add key="ExpediaFee" value="0"/>
 </appSettings>   

