<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings file="user.config">   
	 </appSettings>
  <connectionStrings>
      <add name="SqlServerConnStr" connectionString="server=nys-sql2012\nys;Initial Catalog=CUBIT;User ID=Cubit;Password=H@ndym@n" providerName="System.Data.SqlClient" />
      <add name="SqlServerMevisConnStr" connectionString="server=nys-sql2012\nys;Initial Catalog=NYSDB;User ID=Cubit;Password=H@ndym@n" providerName="System.Data.SqlClient" />
  </connectionStrings>  
  <system.web>   
		<httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this 
          affects performance, set this value to true only
          during development.
    -->    
		<compilation debug="false" targetFramework="4.0">
    <assemblies>
      <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </assemblies>   
  </compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
        <identity impersonate="false" /></system.web>
	<system.net>
		<mailSettings>
			<!-- these settings define the mail server settings
        from: the user name from which the email is sent - this is the
        application that is sending the message
        host: the name of your mail server
        userName: the name the application will use to log into the mail server
        password: the password for the above user name      -->
			<smtp>
				<network host="nys-ex2" password="" userName="" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
