<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Users\ashleymarron\projects\INTERNALADMIN_APP\NYSInternalAdmin\NYSInternalAdmin\log4net.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10000KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger %timestamp [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

  <!-- Set root logger level to DEBUG and its only appender to A1 -->
  <root>
    <level value="INFO" />
    <appender-ref ref="RollingFileAppender" />
  </root>

  <logger name="clsNYS.logPostcode">
    <level value="INFO" />
  </logger>
</log4net>