

<appSettings>
  <add key="Version" value="V3.0"/>

  <add key="log4netconfig" value="C:\Users\ashleymarron\projects\INTERNALADMIN_APP\NYSInternalAdmin\NYSInternalAdmin\log4net.config" />
  <add key="UseLiveVenues" value="" />

  <!--TEST-->
  <add key="databasename" value="NYSDB_TEST"/>
 <add key="CubitConnStr" value="server=nystest2012;uid=Cubit;pwd=H@ndym@n;database=CUBIT_TEST" />
  
  <!--LIVE-->
  <!--<add key="databasename" value="NYSDB"/>
  <add key="CubitConnStr" value="server=nys-sql2012\nys;uid=Cubit;pwd=H@ndym@n;database=CUBIT" />-->

  <add key="EvolviHandoffs" value="\\nys-filestore\EvolviHandoffs\intercept\SQL\"/>
  <add key="InvoiceInput" value="\\nys-boss\BOSS\32bitboss\PDFfiles\awaiting\"/>
  
  <add key="InvoiceNotSent" value="\\nys-boss\BOSS\32bitboss\PDFfiles\###\notsent\"/>
  <add key="InvoiceSent" value="\\nys-boss\BOSS\32bitboss\PDFfiles\###\sent\"/>
  <add key="InvoiceError" value="\\nys-boss\BOSS\32bitboss\PDFfiles\###\error\"/>
  <add key="InvoiceAwaiting" value="\\nys-boss\BOSS\32bitboss\PDFfiles\awaiting\" />
  <add key="FeraProcurementEmail" value="lisa.spencer@fera.gsi.gov.uk"/>
  <add key="YDHRPostChargeEmail" value ="Peter.J.Spicer@York.NHS.UK"/>
  
  
  <!---admin fees -->


  <add key="NYSVenueGroupsOverrideNonComm"      value="MWB;RG"/>
  <add key="NYSNonCommClients"      value="100040;100101;100133"/>
  <add key="NYSNonCommClientsRates" value="100040=004.7500;100101=000.0000;100133=008.0000"/>
  <add key="NYSNonCommClientsCompanyRates" value="100167=004.7500;102168=002.7500;102229=008.0000"/>
  <!-- 100167 = BCS Childrens Society,102149=HCC ADS, 102168=Music Services, 102229 being 3 THREE - sub unit 3 THREE -->
  
  
  
  <add key="ConnectionString" value="server=nys-sql2012\nys;uid=InternalAdmin;pwd=F0nt@1n3;database=nysdb" />
  
  <add key="CorporateFeedbackEmail" value="corporatefeedback@nysgroup.com"/>
  <add key="CorporateFeedbackEmailbcc" value="feedbackquestionnaires@nysgroup.com"/>
  <add key="CorporateFeedbackURL" value="https://tools.nyscorporate.com/webforms/forms/CorporateFeedback.aspx"/>
  <add key="TooManyInvoices" value="100"/>
  <add key="TooManyInvoicesModulo600" value="12"/>
  <add key="TooManyInvoicesModulo500" value="10"/>
  <add key="TooManyInvoicesModulo400" value="8"/>
  <add key="TooManyInvoicesModulo300" value="5"/>
  <add key="TooManyInvoicesModulo200" value="3"/>
  <add key="TooManyInvoicesModulo100" value="3"/>

  <add key="CorporateFeedbackInvoiceCapLimit" value="100"/>
  <add key="CorporateFeedbackCandidateCapLimit" value="30"/>   <!-- after which limit there is no need to find further email addresses i.e. max sample size-->
  
  
  <!--Venue Chaser-->
  <add key="HomeAbsolutepath" value="C:\001_Test\MEVIS\NYS\" />
  <add key="ETPSubject" value="Urgent request for invoice conference meetings booking" />

  <!--Cubit File Imports Live-->
  <add key="CubitTime" value="7:40"/>
  <add key="CubitFinishTime" value="16:00"/>
  <add key="CubitAfternoonTime" value="16:30"/>
  <add key="CubitInvoiceTime" value="15:50"/>
  <add key="ConfermaFileLocation" value="https://ssl.conferma.com/confermaReports/auto/NYS-igF6vk/" />
  <add key="ExpediaFee" value="0"/>
  <add key="LateRoomsFee" value="5"/>
  
  
  
  <add key="downloadedfiles" value="\\nys-accounts\downloadedfiles\"/>
  <add key="downloadedfilesERROR" value="\\nys-accounts\downloadedfiles\ErrorReports\"/>
  <add key="downloadedfilesOK" value="\\nys-accounts\downloadedfiles\Archive\"/>
  <add key="downloadedfilesDuplicates" value="\\nys-accounts\downloadedfiles\Duplicates\"/>
  <add key="downloadedfilesBooked" value="\\nys-accounts\downloadedfilesBooked\"/>
  <add key="downloadedfilesBookedERROR" value="\\nys-accounts\downloadedfilesBooked\ErrorReports\"/>
  <add key="downloadedfilesBookedOK" value="\\nys-accounts\downloadedfilesBooked\Archive\"/>
  <add key="downloadedfilesBookedDuplicates" value="\\nys-accounts\downloadedfilesBooked\Duplicates\"/>
  <add key="downloadedfilesTrans" value="\\nys-accounts\downloadedfilesTrans\"/>
  <add key="downloadedfilesTransERROR" value="\\nys-accounts\downloadedfilesTrans\ErrorReports\"/>
  <add key="downloadedfilesTransOK" value="\\nys-accounts\downloadedfilesTrans\Archive\"/>
  <add key="downloadedfilesBookedAft" value="\\nys-accounts\downloadedfilesBookedAfternoon\"/>
  <add key="downloadedfilesBookedAftERROR" value="\\nys-accounts\downloadedfilesBookedAfternoon\ErrorReports\"/>
  <add key="downloadedfilesBookedAftOK" value="\\nys-accounts\downloadedfilesBookedAfternoon\Archive\"/>
  <add key="downloadedfilesBookedAftDuplicates" value="\\nys-accounts\downloadedfilesBookedAfternoon\Duplicates\"/>

  
  
  
  <add key="XMLFilePath" value="\\nys2012\temp files\XMLFILES" />
  <add key="OnlyTT" value="true" />
  <add key="EnableAll" value="false" />
  <add key="Demo" value="1" />
  <add key="OSSCompanies" value="eact;npsa;herefordshire council;nhs business services authority;national school of government;university hospital of south manchester;nhs institute for innovation and improvement" />
  <add key="ProactisURLCIMA" value="https://www.proactisplaza.com/WebServices/CXMLDocumentFeed.aspx?ConfigurationGUID=89bcc525-67ca-4ba6-a69a-b9b673ed264c" />
  <add key="ProactisURLCEL" value="https://www.proactisplaza.com/WebServices/CXMLDocumentFeed.aspx?ConfigurationGUID=62fe3a25-ea8e-4f83-9771-03ac70682db0" />
  <add key="CIMATestValue" value="" />
  <add key="CIMAEmail" value="invoice.europe@cimaglobal.com" />
  <add key="CIMABcc" value="craig.rickell@nysgroup.com" />
  <add key="NCASEmail" value="brendan.moore@ncas.nhs.uk"/>
  <add key="NCASBcc" value="fiona.keller@nysgroup.com"/>
  <add key="ICEEmail" value="finance@ice.org.uk"/>
  <add key="ICECc" value="janet.homer@ice.org.uk"/>
  <add key="ICEBcc" value="fiona.keller@nysgroup.com"/>
  <add key="BatchTest" value="" />
  <add key="RefundChargeReplacement" value="5.01" />
  <add key="RefundExternalRefReplacement" value="NYSRR" />
  <add key="BOSSConnectionString" value="Provider=VFPOLEDB;Data Source=\\nys-boss\boss\32bitboss\data;Mode=Read;CollatingSequence=MACHINE;"/>
  <!--<add key="MIDocsPath" value="\\nystest\InternalAdmin Docs\Commission Invoices\" />-->

  <add key="MIDocsPath" value="C:\001_Test\IA\Commission Invoices\" />
  
  <add key="EmailTest" value="" />
  <add key="CommUsers" value="Massarella,Rickell,Azzouz,Glenister,7,4,Johnstone,Tsui,3,2,Cockram,1,Fawcett,Badham,Traynor,Johnson,Blenkins,Dixon,Sutcliffe,Griffin,Swaby,Parker,Thompson,Gibb,Bassett,Millard,Ticketing,Mosley,Moss,Tidmarsh,Pinnington,Marron" />
  <add key="DWPInvoiceIDs" value="N610854,N610911,N610926,N610940,N610946,N610964,N610972,N613690,N613699,N620576,N676671,N680084,N714542,N714237"/>
  <add key="BossUsers" value="Massarella,Rickell,Glenister,Azzouz,Weeks,Cockram,Pinnington,Marron"/>
  <add key="ClientUsers" value="Rickell,Glenister,Azzouz,Weeks,Cockram,Pinnington,Marron"/>
  <add key="O2InvoicesSkipPOCheck" value="N652998;N659393;N661624;N678024;N790328;"/>
  <add key="O2CompanyIdsPOCheck" value="100233"/>
  <add key="InterceptorErrorsFolder" value="C:\Users\SarabAzzouz\Desktop\interceptor\Error"/>
  <add key="o2RTDCompanyID" value="100233"/>
  <add key="LVTravellerEmailActive" value="false"/>
  <add key="ClientStatementFileDateFormat" value="ddMMyyyy"/>
  <add key="ClientStatementEmailFrom" value="ann.glenister@nysgroup.com"/>
  <add key="ClientStatementEmailBcc" value="ann.glenister@nysgroup.com"/>
  <add key="CommStatspath" value="\\nystest\InternalAdmin Docs\Commission Statements"/>
  <!--<add key="ClientStatspath" value ="\\nys-accounts\InternalAdmin Docs\Client Statements"/>-->

  <add key="ClientStatspath" value ="\\NYSTEST2012\InternalAdmin Docs\Client Statements"/>
  <add key="RCNEmail" value ="accounts.payable@rcn.org.uk"/>
  <add key="RCNGEmail" value ="accounts.payable@rcn.org.uk"/>
  <add key="LVEmployeeNumberFormat" value="^[0-9][0-9][0-9][0-9][0-9][0-9][0-9]$|^M[0-9][0-9][0-9][0-9][0-9][0-9][0-9]$|^ML[0-9][0-9][0-9][0-9][0-9]$"/>
  <add key="HandoffSchemaVersionReplacement" value=""/>
  <add key="RailIssueDateFormat" value="dd/MM/yyyy"/>
  <add key="O2SteriaActive" value=""/>
  <add key="FeederRailFeesEmailTo" value ="sarab.azzouz@nysgroup.com"/>
  <add key="RCNCc" value="kath.devlin@nysgroup.com"/>
  <add key="RCNBcc" value="sarab.azzouz@nysgroup.com"/>
  <add key="RCNGCc" value="kath.devlin@nysgroup.com"/>
  <add key="RCNGBcc" value="sarab.azzouz@nysgroup.com"/>
  <add key="EvolviGuardianRefundCopies" value ="C:\Users\SarabAzzouz\Desktop\interceptor\Error\"/>
  <add key="InvoiceInput" value="\\nys-boss\BOSS\32bitboss\PDFfiles\"/>
  <add key="InvoiceNotSent" value="\\nys-boss\BOSS\32bitboss\PDFfiles\###\notsent\"/>
  <add key="InvoiceSent" value="\\nys-boss\BOSS\32bitboss\PDFfiles\###\sent\"/>
  <add key="InvoiceError" value="\\nys-boss\BOSS\32bitboss\PDFfiles\###\error\"/>
  <add key="InvoiceAwaiting" value="\\nys-boss\BOSS\32bitboss\PDFfiles\awaiting\" />
  <add key="FeraProcurementEmail" value="devtest@nysgroup.com"/>
  <add key="AutoInvoiceEmailFrom" value="rail@nysgroup.com"/>
  <add key="YDHRPostChargeEmail" value ="devtest@nysgroup.com"/>
  <add key="StartMovePDFFilesHour" value="12"/>
  <add key="ReleaseEmailTest" value="true"/>
  <add key="ReleaseEmailTestSend" value="devtest@nysgroup.com"/>

</appSettings>
