<?xml version="1.0"?>
<!-- 
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings file="user.config">   
    <add key="log4netconfig" value="C:\DEV FOLDER\Development10\VS10\NYS_APPS10\INTERNALADMIN_APP\NYSInternalAdmin\NYSInternalAdmin\log4net.config"/>
    <add key="Version" value="V1.2"/>
    <add key="UseLiveVenues" value=""/>    
    <!--<add key="ConnectionString" value="server=nys2012\sqlexpress8;uid=sa;pwd=Evosnozz123;database=nysdb_dev"/>-->
    <add key="ConnectionString" value="server=nystest2012;uid=InternalAdmin;pwd=F0nt@1n3;database=nysdb_test"/>
    <!--<add key="ConnectionString" value="server=nysdb;uid=sa;pwd=Evosnozz123;database=nysdb"/>-->
    <!--<add key="ConnectionString" value="server=nysdev2\sqlexpress;uid=sa;pwd=Evosnozz123@;database=nysdb_dev_v2.26"/>-->
    <add key="XMLFilePath" value="\\nysdev2\dump\XMLFiles"/>  
    <add key="MIFilePath" value="\\nysmgmt\sys\Finance\MI Builder Files"/>
    <add key="OnlyTT" value="true"/>   
    <add key="EnableAll" value="false"/> 
    <add key="Demo" value="1"/>
    <add key="OSSCompanies" value="eact;npsa;herefordshire council;nhs business services authority;national school of government;university hospital of south manchester;nhs institute for innovation and improvement"/>
    <add key="ProactisURLCIMA" value="https://www.proactisplaza.com/WebServices/CXMLDocumentFeed.aspx?ConfigurationGUID=89bcc525-67ca-4ba6-a69a-b9b673ed264c"/>
    <add key="ProactisURLCEL" value="https://www.proactisplaza.com/WebServices/CXMLDocumentFeed.aspx?ConfigurationGUID=62fe3a25-ea8e-4f83-9771-03ac70682db0"/>
    <add key="CIMATestValue" value=""/>
    <add key="CIMAEmail" value="craig.rickell@nysgroup.com"/> 
    <add key="CIMABcc" value="nick.massarella@nysgroup.com"/>   
    <add key="BatchTest" value="true"/> 
    <add key="PdfFilesInput" value="\\nysdb\BOSS\pdffiles\###\"/>
    <add key="PdfFilesNotSent" value="\\nysdb\BOSS\pdffiles\###\notsent\"/>
    <add key="PdfFilesSent" value="\\nysdb\BOSS\pdffiles\###\sent\"/>
    <add key="PdfFilesError" value="\\nysdb\BOSS\pdffiles\###\error\"/>
    <add key="PdfFilesAwaiting" value="\\nysdb\BOSS\pdffiles\awaiting\"/>
    <add key="RefundChargeReplacement" value="5.01"/>
    <add key="RefundExternalRefReplacement" value="NYSRR"/>
    <add key="BOSSConnectionString" value="Provider=VFPOLEDB;Data Source=\\nys-boss\boss\winboss\data;Mode=Read;CollatingSequence=MACHINE;"/>
    <add key="MIDocsPath" value="\\nysapps\docs2\"/>
    <add key="EmailTest" value="True"/>
    <add key="CommUsers" value="Massarella,Rickell,Glenister,Azzouz"/>
    <add key="BossUsers" value="Massarella,Rickell,Glenister,Azzouz"/>
    <add key="ClientUsers" value="Rickell,Glenister,Azzouz"/>
    <add key="DWPInvoiceIDs" value=""/>
    <add key="o2InvoiceEmail" value="edi.nfs@steria.co.uk"/>
    <add key="o2InvoiceEmailcc1" value="alex.lok@steria.co.uk"/>
    <add key="o2InvoiceEmailcc2" value="Metilda.Jeyaprakash@steria.co.in"/>
    <add key="o2InvoiceEmailbcc" value="craig.rickell@nysgroup.com"/>
    <add key="PrintFee" value="1.05"/>
    <add key="InvoiceFormat" value="^[b,B][0-9][0-9][0-9][0-9][0-9][0-9]$"/>
    <add key="VatRate" value="20"/>
    <add key="RCNProjectCodeFormat" value="^[0-9,a-z,A-Z][0-9,a-z,A-Z](\-[0-9][0-9][0-9][0-9][0-9])$"/>
    <add key="O2InvoicesSkipPOCheck" value="N652998;"/>
    <add key="O2CompanyIdsPOCheck" value="100233"/>
    <add key="CommStatspath" value="\\nystest\CommStats"/>
    <add key="InterceptorErrorsFolder" value="C:\Users\SarabAzzouz\Desktop\interceptor\temp files\Fail\"/>
    <add key="O2RTDCompanyID" value="100233"/>
    <add key="ClientStatementFileDateFormat" value="ddMMyyyy"/>
    <add key="ClientStatementEmailFrom" value="ann.glenister@nysgroup.com"/>
    <add key="ClientStatementEmailBcc" value="ann.glenister@nysgroup.com"/>
    <!--<add key="CCPUsers" value="Azzouz,Rickell"/>
    <add key="CCPReportUsers" value="Azzouz,Rickell"/>
    <add key="CVV" value="[0-9][0-9][0-9]$"/>
    <add key="Number" value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]$"/>-->
    <add key="EvolviCostCentreSuffixClients" value="NHSBSA;NHSBSAHOST;NHSBSAPRO;NHSBSACOMM"/>
    <add key="EvolviCostCentreSuffix" value="11001"/>
    <add key="HandoffSchemaVersionReplacement" value=""/>
    <add key="RailIssueDateFormat" value="dd/MM/yyyy"/>
</appSettings>

  <system.net>
    <mailSettings>   
      <!-- these settings define the mail server settings
        from: the user name from which the email is sent - this is the
        application that is sending the message
        host: the name of your mail server
        userName: the name the application will use to log into the mail server
        password: the password for the above user name      
      -->
      <smtp>
        <network host="nys-ex1" userName="" password=""/>
      </smtp>
    </mailSettings>
  </system.net> 
  <connectionStrings>
    <!--<add name="SqlServerConnStr" connectionString="server=nys-sql2012\nys;Connection Timeout = 0; Initial Catalog=NYSDB;User ID=InternalAdmin;Password=F0nt@1n3"
      providerName="System.Data.SqlClient" />
    <add name="SqlServerConnStrCubit" connectionString="server=nys-sql2012\nys;Connection Timeout = 0;Initial Catalog=CUBIT;User ID=InternalAdmin;Password=F0nt@1n3"
      providerName="System.Data.SqlClient" />
    <add name="SqlServerConnStrGIDS" connectionString="server=nys-sql2012\nys;Connection Timeout = 0;Initial Catalog=GIDS;User ID=InternalAdmin;Password=F0nt@1n3"
      providerName="System.Data.SqlClient" />
    <add name="SqlServerConnStrSSO" connectionString="server=nys-sql2012\nys;Connection Timeout = 0;Initial Catalog=SSO;User ID=InternalAdmin;Password=F0nt@1n3"
      providerName="System.Data.SqlClient" />
    <add name="NYSDBConnectionString" connectionString="Data Source=nys-sql2012\nys;Initial Catalog=NYSDB;User ID=InternalAdmin;Password=F0nt@1n3;Connection Timeout = 0;"
      providerName="System.Data.SqlClient" />-->
    
    <add name="SqlServerMevisConnStr" connectionString="server=nys-sql2012\nys;Connection Timeout = 0;Initial Catalog=NYSDB;User ID=InternalAdmin;Password=F0nt@1n3;"
      providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <trust legacyCasModel="true" level="Full"/>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" requestValidationMode="2.0"/>
    <sessionState timeout="3600" mode="StateServer" cookieless="false" stateConnectionString="tcpip=127.0.0.1:42424"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="true"/>
    <handlers>
      <add name="Reserved-ReportViewerWebControl-axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler" resourceType="Unspecified"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
</configuration>